<?xml version="1.0" encoding="utf-8" ?>
<Services>
  <Service Name="AuthenticateUser">
    <Method>login</Method>
    <MethodURI>http://172.26.82.69:5000/PassengerWebservice</MethodURI>
    <ActionURI>http://172.26.82.69:5000/PassengerWebservice/login</ActionURI>
    <ContentType>application/json</ContentType>
    <Timeout>60</Timeout>
    <Config>AbsoluteTimeout=1</Config>
  </Service>
</Services>